<IfModule mod_rewrite.c>

   RewriteEngine On

   RewriteCond %{DOCUMENT_ROOT}/static%{REQUEST_URI} -f
   RewriteRule ^ static%{REQUEST_URI} [L]
   
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{HTTP_HOST}%

   RewriteCond %{REQUEST_URI} !^/static/
   RewriteRule ^ index.php [QSA,L]

</IfModule>